<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzan.interview.mapper.UserMapper">
    <!--<select id="selectJob" resultType="com.huzan.interview.bean.JobBean">-->
    <!--select * from job-->
    <!--</select>-->

    <select id="manageLogin" resultType="com.huzan.interview.bean.UserBean">
        select * from user where name = #{0} and password = #{1}
    </select>

    <select id="selectUserByNameAndPhone" parameterType="com.huzan.interview.form.LoginForm" resultType="com.huzan.interview.bean.UserBean" >
            select * from user where name = #{name} and phone = #{phone}
    </select>
    
    <insert id="saveUser" parameterType="com.huzan.interview.form.LoginForm" useGeneratedKeys="true"
            keyProperty="id">
            insert into user (name,phone) VALUES (#{name},#{phone})
    </insert>

    
</mapper>

